

body {
  
    font-size: 200%;
    
  }
  
  .orange{
    border:1px solid #f90;
    width:50px;
    display: inline-block;
  }
  .orange > p {
    
    animation: key 2.25s  infinite;;
  }
  
  
  @keyframes key {
    0%, 100% {
      color:orange;
    }
    
    10%, 90% {
      color:white;
    }
  }
  
  
  
  
  .orange > p {
      animation-delay: 0.75s;
  }
  
 